# Python junk
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Environments (Catching both local and parent venvs)
*venv*/
venv/
.venv/

# Config & Secrets
.env
config/.env

# Data & Logs
data/
logs/
*.log

# System & Airflow temporary files
*.pid
*.db
airflow/

# OS specific
.DS_Storev 

# Airflow Virtual Environments
airflow_venv_311/
airflow_venv_311_py311/

