

# Virtual Environments
airflow_v2/
airflow_venv_311_py311/
koinstrap_venv/
scripts/venv/
venv/

# Environment variables / Secrets
*.env
koinstrap.env

# Python caching & artifacts
__pycache__/
*.pyc
*.pkl

# Logs
logs/