pandas==2.2.2
numpy==1.26.4
scikit-learn==1.8.0
requests==2.32.3
python-dotenv==1.0.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.32
fastapi==0.112.0
uvicorn==0.30.5
vaderSentiment==3.3.2
praw==7.7.1
groq
